@model Device

@{
    ViewData["Title"] = "View";
}

<div>
    <h4>@Html.DisplayFor(model => model.name)</h4>
    <p>@Html.DisplayFor(model => model.deviceTypeId)</p>
    <hr />

    <table class="table">
        <tbody>

            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.failsafe)
                </th>
                <td>
                    @AdditionalHtmlHelper.BoolToText(Model.failsafe)
                </td>
            </tr>

            <tr>
                <th scope="row">
                    Temperatur
                </th>
                <td>
                    @AdditionalHtmlHelper.TempRangeToString(Model.tempMin, Model.tempMax)
                </td>
            </tr>

            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.installationPosition)
                </th>
                <td>
                    @Html.DisplayFor(model => model.installationPosition)
                </td>
            </tr>

            <tr>
                <th scope="row">
                    @Html.DisplayNameFor(model => model.insertInto19InchCabinet)
                </th>
                <td>
                    @AdditionalHtmlHelper.BoolToText(Model.insertInto19InchCabinet)
                </td>
            </tr>

            @if (Model.terminalElement.HasValue)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.terminalElement)

                    </th>
                    <td>
                        @AdditionalHtmlHelper.BoolToText(Model.terminalElement.Value)

                    </td>
                </tr>
            }

            @if (Model.advancedEnvironmentalConditions.HasValue)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayNameFor(model => model.advancedEnvironmentalConditions)
                    </th>
                    <td>
                        @AdditionalHtmlHelper.BoolToText(Model.advancedEnvironmentalConditions.Value)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" class="btn btn-dark">Zurück</a>
</div>
