@model List<Device>

@{
    ViewData["Title"] = "View";
}

<div style="float: right;">
    <button id="btnImport" class="btn btn-dark">Import</button>
</div>

<div id="importPartial"></div>

<div>
    @if (Model.Count > 0)
    {
        foreach (var device in Model)
        {
            <div class="card" style="width: 18rem; float: left; margin: 5px;" onclick="location.href='@Url.ActionLink("Details", "Device", new {id = device.id} )'">
                <div class="card-body" style="position: relative;">
                    <div class="sticky-top-right">
                        <a href="@Url.ActionLink("DeleteDevice", "Device", new {id = device.id})" class="fa-solid fa-trash" style="position: sticky; top: 5px; right: 5px; color: black"></a>
                    </div>
                    <h4>@device.name</h4>
                    <p>Device Typ ID: @device.deviceTypeId</p>
                    <p>Failsafe: @Html.Raw(AdditionalHtmlHelper.BoolToIcon(device.failsafe))</p>
                </div>
            </div>
        }
    }
    else
    {
        <p>Keine Geräte vorhanten.</p>
    }
</div>

<script>
    $('#btnImport').on('click',
        function (e) {
            $.ajax({
                url: '@Url.ActionLink("Import")',
                type: 'GET',
                cache: false,
                async: false,
                dataType: "html"
            })
            .done(function (result) {
                    $('#importPartial').html(result);
            }).fail(function (xhr) {
                console.log('error : ' + xhr.status + ' - ' + xhr.statusText + ' - ' + xhr.responseText);
            });
            $("#importModal").modal('show');
        });
</script>